# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
dist/
build/
.next/
out/

# Environment
.env
.env.local
.env.*.local

# Logs
logs/
*.log
npm-debug.log*

# OS
.DS_Store
*.pem

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Docker
postgres_data/

# Temp
tmp/
temp/
*.tmp
